/* BACKGROUND STYLE */

.backgroundlogin {
  width: 100%;
  margin: 0;
  height: 1000px;
  border: 1px solid black;
  background-image: url("../../assets/Login.jpg");
  background-size: cover;
  background-attachment: fixed;
}
body,

/* LOG IN STYLE */


.login {
  height: 700px;
  width: 500px;
  margin: auto;
  margin-top: 100px;

  background: url(https://picsum.photos/id/1004/5616/3744) no-repeat center
    center #505050;
  background-size: cover;
  box-shadow: 0px 30px 60px -5px #000;
}
/* FORM STYLE */
form {
  padding-top: 80px;
}
/* SIGN IN UPPER BUTTON STYLE */
.active {
  margin-top: 20px;
  border-bottom: 2px solid #1161ed;
  width: 200px;
}
/* SIGN IN TEXT STYLE */
h2 {
  padding-left: 12px;
  font-size: 22px;
  text-transform: uppercase;
  padding-bottom: 5px;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 100;
}

h2:first-child {
  padding-left: 0px;
}
/* USERNAME AND PASSWORD TEXTS STYLE */
span {
  text-transform: uppercase;
  font-size: 15px;

  display: inline-block;
  position: relative;
  top: -65px;
  transition: all 0.5s ease-in-out;
}

.text {
  border: none;
  width: 89%;
  padding: 10px 20px;
  display: block;
  height: 15px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0);
  overflow: hidden;
  margin-top: 15px;
  transition: all 0.5s ease-in-out;
}

.text:focus {
  outline: 0;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  background: rgba(0, 0, 0, 0);
}

.text:focus + span {
  opacity: 0.6;
}

input[type="text"],
input[type="password"] {
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
/* INPUT STYLE */
input {
  display: inline-block;
  padding-top: 20px;
  font-size: 14px;
}
/* CHECKBOX AND H2 AND SPAN STYLE */
h2,
span,
.custom-checkbox {
  margin-left: 20px;
  margin-bottom: 5px;
}

.custom-checkbox {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  top: 6px;
}

.custom-checkbox:checked {
  background-color: rgba(17, 97, 237, 1);
}

.custom-checkbox:checked:after {
  font-size: 10px;
  position: absolute;
  top: 1px;
  left: 4px;
  color: #fff;
}

.custom-checkbox:focus {
  outline: none;
}

label {
  display: inline-block;
  padding-top: 10px;
  padding-left: 5px;
}
/* SIGNIN BUTTON STYLE */
.signin {
  background-color: #1161ed;
  color: #fff;
  width: 80%;
  padding: 10px 20px;
  display: block;
  height: 39px;
  border-radius: 20px;
  margin-top: 30px;
  margin-left: 30px;
  transition: all 0.5s ease-in-out;
  border: none;
  text-transform: uppercase;
}
/* SIGN IN BUTTON HOVER STYLE */
.signin:hover {
  background: #4082f5;
  box-shadow: 0px 4px 35px -5px #4082f5;
  cursor: pointer;
}

.signin:focus {
  outline: none;
}
/* HORIZONTAL LINE STYLE */
hr {
  border: 3px solid rgba(255, 255, 255, 0.1);
  top: 85px;
  position: relative;
}
/* LINK STYLE */
a {
  text-align: center;
  display: block;
  margin-right: 35px;
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.2);
}
/* FB AND GOOGLE ICONS STYLE */
.icons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
/* FB STYLE */
.fb {
  width: 5%;
  height: 30px;
  border-radius: 20%;

  margin-left: 170px;
}
/* GMAIL STYLE */
.gmail {
  width: 5%;
  height: 30px;
  border-radius: 20%;

  margin-right: 220px;
}
input {
  border-radius: 10%;
}
/* SIGN UP BUTTON STYLE */
.nonactive {
  margin-left: 200px;
  background-color: #1161ed;
  color: #fff;
  width: 80%;
  padding: 10px 20px;
  display: block;
  height: 39px;
  border-radius: 20px;
  margin-top: 30px;
  margin-left: 30px;
  transition: all 0.5s ease-in-out;
  border: none;
  text-transform: uppercase;
}
/* DONT HAVE AN ACCOUNT STYLE */
.donthave {
  text-align: center;
  display: block;
  margin-right: 35px;
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.2);
}
/* SIGNUP BUTTON HOVER STYLE */
.nonactive:hover {
  background: #4082f5;
  box-shadow: 0px 4px 35px -5px #4082f5;
  cursor: pointer;
}

.orsign {
  text-align: center;
  display: block;
  margin-right: 35px;
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.2);
}
