<!------- NAV BAR -------->

<nav>
  <div class="container">
    <div class="content">
      <h2 class="logo">Products Sales Management</h2>
      <ul>
        <li> <a style="text-decoration: none; color: white;" href="" routerLink="/products">Products</a></li>
        <li> <a style="text-decoration: none; color: white;" href="" routerLink="/cart">cart</a></li>

      </ul>
    </div>
  </div>
</nav>


<!------- VIDEO BACKGROUND -------->
<section class="box">
  <video style="width: 100%;" src="../../assets/Essentials Clothing Shoot _ Promotional Video.mp4" autoplay muted
    loop></video>

  <!------- VIDEO CONTENT -------->
  <h1>Product Sales managemenet</h1>
  <h4>Your easiest way to but your products online</h4>
  <a href="#" routerLink="/products" class="boxbtn"> Go to Products List</a>
</section>

<!------- HEADLINE FOR PRODUCTS -------->
<h1 class="headline">Products we are selling</h1>


<!------- SHORT BRIEF ABOUT PRODUCTS -------->
<div class="productHeadLine">
  <!------- MEN -------->

  <div class="men">
    <h2>Men Products</h2>
    <br>
    <p>the place to shop for new fashion for men. Stay on-trend and impress friends and family with all your latest
      gear. Your outfits are a reflection of who you are at home, at work, and out with friends and family. So, it's
      worth spending some time and money shopping for high-quality clothes that capture your style and your personality.
    </p>
  </div>

  <!------- WOMEN -------->

  <div class="women">
    <h2>Women Products</h2>
    <br>
    <p>Discover the latest in women's fashion and new season trends at Topshop. Shop must-have dresses, coats, shoes and
      more. Free shipping and free returns on all orders.</p>
  </div>

</div>
<div class="productHeadLine">
  <div class="men">
    <!------- JEWELERY -------->

    <h2>Jewelery</h2>
    <br>
    <p>For as long as history records, women have been adorning themselves with the most beautiful materials available.
      While men do wear jewelry, it is safe to say that the lion’s share of the adornments belongs to women. Because it
      is so valued, this makes jewelry one of the best gifts a woman can receive and a great choice for men to give.
    </p>
  </div>
  <div class="women">

    <!------- ELECTRONICS -------->

    <h2>Electronics</h2>
    <br>
    <p> means any and all electronics used in connection with the Facilities that process, compress, modify and route
      signals along the Distribution Systems, including, but not limited to, digital subscriber line access
      multiplexers, digital loop carriers, routers, wave division multiplexers and switches.</p>
  </div>

</div>

<!--  Apex Chart  -->

<div class="apexChart">
  <div id="chart">
    <!-- <div id="chart">
      <apx-chart [series]!="chartOptions.series" [chart]!="chartOptions.chart" [dataLabels]!="chartOptions.dataLabels"
        [plotOptions]!="chartOptions.plotOptions" [xaxis]!="chartOptions.xaxis"></apx-chart>
    </div> -->

  </div>


  <br>
  <br>
  <!------- FOOTER -------->

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>company</h4>
          <ul>
            <li><a href="#">about us</a></li>
            <li><a href="#">our services</a></li>
            <li><a href="#">privacy policy</a></li>
            <li><a href="#">affiliate program</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>get help</h4>
          <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">shipping</a></li>
            <li><a href="#">returns</a></li>
            <li><a href="#">order status</a></li>
            <li><a href="#">payment options</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>online shop</h4>
          <ul>
            <li><a href="#">watch</a></li>
            <li><a href="#">bag</a></li>
            <li><a href="#">shoes</a></li>
            <li><a href="#">dress</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>follow us</h4>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
